/*LIMPAR FORMATACOES PADROES*/

*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    background: #d6d6d6;
}
#navegacao{
    background: #fff;
    border-bottom: 1px solid #d8d8d8;
    height: 45px;
}
#area{
    width: 720px;
    margin:  0 auto;
}
.purple{
    color: #b949c1;
}

#menu{
    float: right;
    padding: 10px;
}
#logo{
    float: left;
}
